# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Data & Models
data/*.csv
data/*.parquet
models/*.pkl
models/*.joblib
mlruns/

# Jupyter
.ipynb_checkpoints/

# Environment
.env

# IDE
.vscode/
.idea/
# =========================================================
# Virtual Environments
# =========================================================
.venv/
venv/
.venv-feast/
.venv-mlflow/

# =========================================================
# MLflow
# =========================================================
mlruns/
mlflow.db
mlartifacts/
confusion_matrix_*.png

